/UnoAnimator/UnoAnimator/.vs
/UnoAnimator/UnoAnimator/UnoAnimator/UnoAnimator.UWP/bin
/UnoAnimator/UnoAnimator/UnoAnimator/UnoAnimator.UWP/obj
/UnoAnimator/UnoAnimator/UnoAnimator/UnoAnimator.Wasm/bin
/UnoAnimator/UnoAnimator/UnoAnimator/UnoAnimator.Wasm/obj