/UnoAnimator/UnoAnimator/.vs
/UnoAnimator/UnoAnimator/UnoAnimator/UnoAnimator.UWP/bin
/UnoAnimator/UnoAnimator/UnoAnimator/UnoAnimator.UWP/obj
/UnoAnimator/UnoAnimator/UnoAnimator/UnoAnimator.WASM/bin
/UnoAnimator/UnoAnimator/UnoAnimator/UnoAnimator.WASM/obj